@model LYSL.Web.ViewModels.Pet.PetViewModel
@{
    ViewData["Title"] = "GetPetById";
}

<h1>Pet Detail</h1>

<ul>
    <li>Breed : @Model.Breed</li>
    <li>Age : @Model.Age</li>
</ul>

<button>Go back</button>